pkgbase = roc-roct-git
	pkgdesc = Radeon Open Compute Thunk Interface
	pkgver = 1.5.0.r0.gf27b70a
	pkgrel = 1
	arch = x86_64
	license = MIT
	makedepends = git
	source = git+https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface.git
	sha256sums = SKIP

pkgname = roc-roct-git

